/* Header */

header nav>ul>li:first-child>a:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 10px;
    opacity: 0.5;
    transition: all ease 1s;
}

/* swiper */

.swiper-container {
    width: 100%;
}

/* how it work */

#how-it-work {
    width: 100%;
    height: 800px;
    background-color: #66cccc;
    text-align: center;
}

#green-block {
    height: 800px;
    display: inline-block;
    text-align: left;
    font-size: 0;
    overflow: hidden;
}

#green-block img {
    margin-top: 40px;
    margin-left: 40px;
    width: 480px;
    height: 710px;
    display: inline-block;
    float: left;
}

#green-right {
    width: 43%;
    display: inline-block;
    float: left;
    color: white;
    margin-top: 115px;
    margin-left: 40px;
}

#green-right h3 {
    font-family: 'Futura-Med';
    font-size: 30px;
    padding-bottom: 114px;
}

#green-right p {
    font-family: 'Lato';
    font-size: 15px;
    padding-bottom: 29px;
}

#green-button {
    width: 290px;
    font-family: 'Lato';
    color: white;
    font-size: 20px;
    padding-bottom: 15px;
    margin-top: 119px;
    padding-top: 15px;
    border: white solid 2px;
    border-radius: 30px;
    text-align: center;
    transition: all ease 1s;
}

#green-button:hover {
    color: #66cccc;
    background: white;
    transition: all ease 1s;
}

/* our activitis */

#our-activitis {
    width: 100%;
    height: 800px;
    background: #ff6666;
    text-align: center;
}

#pink-block {
    height: 800px;
    display: inline-block;
    text-align: center;
    font-size: 0;
    overflow: hidden;
}

#pink-block img {
    margin-top: 40px;
    margin-right: 40px;
    float: left;
}

#pink-left {
    width: 43%;
    display: inline-block;
    float: left;
    color: white;
    margin: 40px 40px 0 23px;
}

#pink-left h3 {
    font-family: 'Futura-Med';
    font-size: 30px;
    padding-bottom: 81px;
}

#pink-left ul {
    list-style: none;
    font-size: 15px;
    text-align: left;
}
#pink-left ul li {
    margin-bottom: 80px;
    font-family: 'Lato';
}

#pink-left ul li img {
    margin-top: 0;
    margin-right: 22px;
    text-align: left;
}

#pink-button {
    width: 290px;
    font-family: 'Lato';
    font-size: 20px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border: white solid 2px;
    border-radius: 30px;
    transition: all ease 1s;
}

#pink-button:hover {
    color: #ff6666;;
    background: white;
    transition: all ease 1s;
}

/** our profit **/

#our-profit{
   width: 100%;
   height: 500px;
   background-color: white;
   text-align: center;
}

#our-profit h3 {
   font-family: 'Futura-Med';
   font-size: 30px;
   padding-top: 60px;
   font-weight: bolder;
}

#profits{
   font-family: 'Futura-Med';
   width: 871px;
   display: flex;
   padding-left: 300px;
   padding-top: 80px;    
}


#fisrt-data{
   width: 115px;
   height: 115px;
   border: 6px solid #db0a5b ;
   border-radius: 100%;
   font-family: 'Futura-Med';
   font-size: 50px;
   line-height: 115px; /* 100 - 10 */;
   margin-left: 80px;
}

#second-data{
   width: 115px;
   height: 115px;
   border: 6px solid #f64747 ;
   border-radius: 100%;
   font-family: 'Futura-Med';
   font-size: 50px;
   line-height: 115px; /* 100 - 10 */;
   margin-left: 80px;
}

#third-data{
   width: 115px;
   height: 115px;
   border: 6px solid #f7ca18 ;
   border-radius: 100%;
   font-family: 'Futura-Med';
   font-size: 50px;
   line-height: 115px; /* 100 - 10 */;
   margin-left: 80px;
}

#profits ul li {
    padding-top: 30px;
    padding-left: 50px;
    width: 182px;
    font-size: 15px;
}

/** Comments **/

#comments{
   width: 100%;
   height: 350px;
   background: #a2ded0 ;
}

#all-comments{
   
   padding-left: 155px;
   padding-top: 70px;
   display: flex;

   
}

#all-comments h4{
   font-size: 40px;
   text-align: right;
   font-family: 'Lobster';
   padding-bottom: 20px;
}

#all-comments p{
   text-align: justify;
   font-family: 'Futura-Med';
   font-size: 15px;
}

#first-comment{
   width: 250px;
   height: 150px;
   padding-right: 125px;
   
}

#first-comment li:nth-child(5){
   padding-left: 90px;
   padding-top: 40px;
}


#second-comment{
   width: 250px;
   height: 150px;
   padding-right: 125px;
   
}

#second-comment li:nth-child(5){
   padding-left: 90px;
   padding-top: 40px;
}

#third-comment{
   width: 250px;
   height: 150px;
   padding-right: 125px;
   
}

#third-comment li:nth-child(5){
   padding-left: 90px;
   padding-top: 40px;
}

.align{
   padding-left: 30px;
}

#all-comments li:nth-child(4n+0){
   float: right;
}