/* Header */


header nav>ul>li:first-child>a:after,#header-move ul>li:nth-child(2)>a:after {
    opacity: 0.5;
}

/* swiper */

.swiper-container {
    width: 100%;
    height:auto;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
}

/* our activitis */

#our-activities {
    width: 100%;
    height: 800px;
    background: #66cccc;
    text-align: center;
}

#pink-block {
    height: 800px;
    display: inline-block;
    text-align: center;
    font-size: 0;
    overflow: hidden;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pink-block video {
    width:50%;
}
#pink-left {
    width: 43%;
    display: inline-block;
    float: left;
    color: white;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#pink-left h3 {
    font-family: 'Lato';
    font-size: 30px;
    margin-top: 40px;
}

#pink-left ul {
    list-style: none;
    font-size: 15px;
    text-align: left;
}
#pink-left ul li {
    display: flex;
    width: 100%;
    height: 88px;
    margin-bottom: 40px;
    font-family: 'Futura-Med';
    align-items: center;
}
#pink-left ul>li>p{
    line-height: 25px;
}
#pink-left ul li img {
    margin-top: 0;
    margin-right: 22px;
    text-align: left;
}

#pink-button {
    width: 200px;
    height:40px;
    line-height: 40px;
    font-family: 'Futura-Med';
    font-size: 20px;
    color: white;
    border: white solid 1px;
    border-radius: 15px;
    transition: all ease 1s;
    margin-bottom: 40px;
}

#pink-button:hover {
    color: #66cccc;
    background: white;
    transition: all ease 1s;
}

/* how it works */

#how-it-works {
    width: 100%;
    height: 800px;
    background-color: #ff6666;
    text-align: center;
}

#green-block {
    height: 800px;
    display: inline-block;
    text-align: left;
    font-size: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#green-block img {
    width: 480px;
    height: 710px;
    display: inline-block;
    float: left;
}

#green-right {
    width: 43%;
    height: 100%;
    display: inline-block;
    float: left;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#green-right h3 {
    font-family: 'Lato';
    font-size: 30px;
    margin-top: 50px;
}

#green-right p {
    
    font-size: 15px;
    line-height: 25px;
    width:300px;
}

#green-button {
    width: 200px;
    height:40px;
    line-height: 40px;
    font-family: 'Futura-Med';
    color: white;
    font-size: 20px;
    border: white solid 1px;
    border-radius: 15px;
    text-align: center;
    transition: all ease 1s;
    margin-bottom: 80px;
}


#green-button:hover {
    color: #ff6666;
    background: white;
    transition: all ease 1s;
}

/** our profit **/

#the-benefits{
    width: 100%;
    height: 500px;
    background-color: white;
}

#the-benefits h3 {
   font-family: 'Lato';
   font-size: 30px;
   padding-top: 60px;
   font-weight: bolder;
    text-align: center;
}

#the-benefits div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#benefits{
    font-family: 'Futura-Med';
    text-align: center;
    display: flex;
    padding-top: 80px;
}


#fisrt-data{
   width: 115px;
   height: 115px;
   border: 6px solid #db0a5b ;
   border-radius: 50%;
   font-family: 'Futura-Med';
   font-size: 50px;
   line-height: 115px; /* 100 - 10 */;
}

#second-data{
   width: 115px;
   height: 115px;
   border: 6px solid #f64747 ;
   border-radius: 50%;
   font-family: 'Futura-Med';
   font-size: 50px;
   line-height: 115px; /* 100 - 10 */;
}

#third-data{
   width: 115px;
   height: 115px;
   border: 6px solid #f7ca18 ;
   border-radius: 50%;
   font-family: 'Futura-Med';
   font-size: 50px;
   line-height: 115px; /* 100 - 10 */;
}

#benefits ul {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#benefits ul:first-child {
    margin: 0;
}

#benefits ul li {
    padding-top: 30px;
    width: 182px;
    font-size: 15px;
}

/** Comments **/

#swiper2{
   width: 100%;
   height: 350px;
   background: #a2ded0 ;
}

#swiper2>div {
    padding-top: 70px;
}

#swiper2>div h4{
   font-size: 40px;
   text-align: right;
   font-family: 'Lobster';
   padding-bottom: 20px;
    color:white;
}

#swiper2>div p{
   text-align: justify;
   font-family: 'Futura-Med';
   font-size: 15px;
}

#swiper2 .swiper-slide{
    display: flex;
    justify-content: center;
}

#swiper2 .swiper-slide ul {
    width: 300px;
}

#swiper2 .swiper-pagination-bullet {
    border-radius: 0;
    height: 5px;
    width: 40px;
}

#swiper2>div>div li:nth-child(5){
   padding-left: 90px;
   padding-top: 40px;
}

#swiper2>div>div~div li:nth-child(5){
   padding-left: 90px;
   padding-top: 40px;
}

#swiper2>div>div~div~div li:nth-child(5){
   padding-left: 90px;
   padding-top: 40px;
}

.align{
   padding-left: 30px;
}

#swiper2>div li:nth-child(4n+0){
   float: right;
}

@media screen  and (max-width: 1023px) {
    
    
    /* our activites */

    #our-activities {
        height: 1300px;
    }
    #our-activities h3{
        height: auto;
        margin-bottom: 50px;
    }
    #pink-block {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pink-block video {
    width:100%;
}

    #pink-left {
        float: none;
        width: 100%;
        margin: 40px 0;
    }

    #pink-left ul {
        margin-bottom: 40px;
    }

    #pink-left ul li {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 40px;
        font-family: 'Lato';
        justify-content: center;
    }

    #pink-left ul li p {
        width: 50%;
    }

    #pink-left ul li img {
        margin-right: 22px;
        text-align: left;
        display: inline-block;
        height: 75px;
    }


    /* how it works */
 
#how-it-works {
    width: 100%;
    height: 600px;
}
    #green-block {
        height: 600px;
    }
    #green-block img {
    width: 330px;
    height: auto;
}
    #green-button{
        margin-bottom: 30px;
    }
    /* our profit */

    #the-benefits {
        height: auto;
        margin-bottom: 40px;
    }

    #benefits {
        flex-direction: column;
        justify-content: center;
    }

    #benefits ul {
        margin: 0;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    #benefits ul li {
        margin-left: 22px;
        width: 50%;
        text-align: left;
    }

    /* comment */
    #swiper2 .swiper-slide ul {
        width: 250px;
    }

    #swiper2 .swiper-pagination-bullet {
        border-radius: 0;
        height: 5px;
        width: 20px;
    }    
}

@media screen  and (max-width: 768px) {
   
    /* our activites */

    #our-activities {
        height: auto;
    }

    #pink-left ul li {
        display: flex;
        flex-direction: row;
        width: 100%;
        font-family: 'Lato';
        justify-content: center;
    }
    #pink-left ul li img {
        margin-right: 22px;
        text-align: left;
        display: inline-block;
        height: 75px;
    }


    /* how it works */

    #how-it-works {
        height: 1120px;
    }

    #green-block {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }

    #green-block img {
        float: none;
        height: 50%;
        width: 50%;
        
    }

    #green-right {
        width: 100%;
        height:600px;
    }
    
    /* our profit */

    #the-benefits {
        height: auto;
        margin-bottom: 40px;
    }

    #benefits {
        flex-direction: column;
        justify-content: center;
    }

    #benefits ul {
        margin: 0;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #benefits ul li {
        margin-left: 22px;
        width: 50%;
        text-align: left;
    }

    /* comment */
    #swiper2 .swiper-slide ul {
        width: 250px;
    }

    #swiper2 .swiper-pagination-bullet {
        border-radius: 0;
        height: 5px;
        width: 20px;
    }
}