/* all */

.center-col {
    width: 100%;
}

/* header */
header {
    height: auto;
}

header h1 {
    padding-bottom: 30px;
}
header nav {
    display: none;
    height: auto;
}

#header-icon {
    position: relative;
    display: block;
    float: right;
    width: 35px;
    height: 35px;
    margin-right: 40px;
    margin-top: 20px;
}

.burger {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: #7b7b7a;
    top: 50%;
    transform: translateY(-50%);
}

#header-icon div:first-child {
    top: 0;
}

#header-icon div:last-child {
    top: 100%;
}

#mobtab-nav {
    background: #7b7b7a;
    display: none;
}

#mobtab-nav ul {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

#mobtab-nav ul li a {
    font-family: 'futura-med';
    font-size: 15px;
    color: white;
}

#mobtab-nav ul li a:after {
    opacity: 1;
}


/* sticky */

#sticky {
    display: none;
}

/* swiper top */
.swiper-container {
    height: 600px;
    background-color: black;
}

/* our activites */

#our-activitis {
    height: auto;
}

#pink-block {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pink-block img {
    margin: 0;
    float: none;
    height: 400px;
}

#pink-left {
    float: none;
    width: 100%;
    margin: 40px 0;
}

#pink-left ul {
    margin-left: 40px;
    margin-bottom: 40px;
}

#pink-left ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 40px;
    font-family: 'Lato';
    justify-content: center;
}

#pink-left ul li p {
    width: 50%;
}

#pink-left ul li img {
    margin-right: 22px;
    text-align: left;
    display: inline-block;
    height: 75px;
}

#pink-button {
    display: inline;
    padding: 15px 30px;
}

/* how it work */

#how-it-work {
    height: auto;
}

#green-block {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#green-block img {
    float: none;
    height: 50%;
    width: 50%;
    margin-top: 80px;
    padding-left: 80px;
}

#green-right {
    float: none;
    width: 80%;
    margin-top: 80px;
    padding-right: 40px;
    margin-left: 10px;
}

#green-right p {
    margin-right: 100px;
}

#green-button {
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 80px;
    margin-left: 0;
}

/* our profit */

#our-profit {
    height: auto;
    margin-bottom: 40px;
}

#profits {
    flex-direction: column;
    justify-content: center;
}

#profits ul {
    margin: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#profits ul li {
    margin-left: 22px;
    width: 50%;
    text-align: left;
}

/* comment */
#first-comment {
    margin-left: 40px;
    margin-right: 40px;
}

#second-comment {
    margin-right: 40px;
}

#third-comment {
    display: none;
}

/* footer */
footer {
    height: auto;
    text-align: center;
}

footer>.footer-content {
    height: auto;
    flex-direction: column;
    padding-bottom: 40px;
}

#secondarynav {
    margin-top: 40px;
}