/* Header */

header nav>ul>li:nth-child(2)>a:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 10px;
    opacity: 0.5;
    transition: all ease 1s;
}

#header-move ul>li:nth-child(2)>a:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 10px;
    opacity: 0;
    transition: all ease 1s;
}


#header-move ul>li:nth-child(3)>a:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 10px;
    opacity: 0.5;
    transition: all ease 1s;
}

/* qui sommes-nous */

#who-we-are {
    width: 100%;
    background: white;
    text-align: center;
}

#who-we-are h2 {
    font-family: 'Lato';
    font-size: 40px;
    color: white;
    background-color: red;
}

#who-we-are img {
    width: 100%;
}

#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 97px;
}

#creator {
    overflow: hidden;
}

#julie {
    float: left;
    width: 47.5%;
    padding-top: 81px;
    border-right: dotted 5px #f64747;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#julie img {
    width: 278px;
    height: 278px;
    border: solid 10px #4ecdc4;
    border-radius: 50%;
}

#julie p {
    font-family: 'Lobster';
    font-size: 40px;
    width: 16%;
    margin-top: 33px;
    line-height: 25px;
}

#julie span {
    font-size: 30px;
}

#julie-quote-text {
    margin-top: 35px;
    display: inline-block;
}

#julie-quote-text img{
    width: 30px;
    height: 21px;
    border-radius: 0;
    border: 0px;
    display: inline-block;
    transform: rotateX(180deg);
}

#julie-quote-text img:first-child {
    margin-bottom: 110px;
}

#julie-quote-text p {
    text-align: left;
    font-size: 15px;
    font-family: 'Lato';
    width: 291px;
    display: inline-block;
    margin: 0 0;
    line-height: inherit;
}

#julie-text-blue {
    width: 366px;
    height: 191px;
    background-color: #4ecdc4;
    margin-top: 71px;
    margin-bottom: 90px;
    text-align: left;
    border-radius: 20px;
}

#julie-text-blue p {
    width: 314px;
    font-family: 'Lato';
    font-size: 15px;
    color: white;
    margin: 0 0;
    padding: 29px 26px 29px 26px;
    line-height: inherit;
}

#emmanuelle {
    float: left;
    width: 47.5%;
    padding-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emmanuelle img {
    width: 278px;
    height: 278px;
    border: solid 10px #4ecdc4;
    border-radius: 50%;
}

#emmanuelle p {
    font-family: 'Lobster';
    font-size: 40px;
    width: 38%;
    margin: 33px 166px 0 154px;
    line-height: 25px;
}

#emmanuelle span {
    font-size: 30px;
}

#emmanuelle-quote-text {
    margin-top: 35px;
    display: inline-block
}

#emmanuelle-quote-text img {
    width: 30px;
    height: 21px;
    border-radius: 0;
    border: 0px;
    display: inline-block;
    transform: rotateX(180deg);
}

#emmanuelle-quote-text img:first-child {
    margin-bottom: 110px;
}

#emmanuelle-quote-text p {
    text-align: left;
    font-size: 15px;
    font-family: 'Lato';
    width: 291px;
    display: inline-block;
    margin: 0 0;
    line-height: inherit;
}

#emmanuelle-text-blue {
    width: 366px;
    height: 191px;
    background-color: #4ecdc4;
    margin-top: 71px;
    margin-bottom: 90px;
    text-align: left;
    border-radius: 20px;
}

#emmanuelle-text-blue p {
    width: 314px;
    font-family: 'Lato';
    font-size: 15px;
    color: white;
    margin: 0 0;
    padding: 29px 26px 29px 26px;
    line-height: inherit;
}

#red-text {
    width: 288px;
    height: 84px;
    font-family: 'Lato';
    font-size: 15px;
    color: white;
    padding: 31px 106px 31px 106px;
    border-radius: 20px;
    background-color: #f64747;
    text-align: left;
}