/* Header */

header nav>ul>li:nth-child(2)>a:after,
#header-move>ul>li:nth-child(3)>a:after {
    opacity: 0.5;
}

.responsivetab nav>ul>li:nth-child(2)>a:after {
    opacity: 1;
}

.responsivetab nav>ul>li:nth-child(1)>a:after,
#header-move li:nth-child(2)>a:after {
    opacity: 0;
}


/* qui sommes-nous */

#who-we-are {
    width: 100%;
    background: white;
    text-align: center;
}

#who-we-are h2 {
    background: #F64747;
}

#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 97px;
}

#creator {
    overflow: hidden;
}

#julie {
    float: left;
    width: 47.5%;
    padding-top: 81px;
    border-right: dotted 5px #f64747;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#julie img {
    width: 278px;
    height: 278px;
    border: solid 10px #4ecdc4;
    border-radius: 50%;
}

#julie p {
    font-family: 'Lobster';
    font-size: 40px;
    width: 16%;
    margin-top: 33px;
    line-height: 25px;
}

#julie span {
    font-size: 30px;
}

#julie-quote-text {
    margin-top: 35px;
    display: inline-block;
}

#julie-quote-text img {
    width: 30px;
    height: 21px;
    border-radius: 0;
    border: 0px;
    display: inline-block;
    transform: rotateX(180deg);
}

#julie-quote-text img:first-child {
    margin-bottom: 110px;
}

#julie-quote-text p {
    text-align: left;
    font-size: 15px;
    font-family: 'Lato';
    width: 291px;
    display: inline-block;
    margin: 0 0;
    line-height: inherit;
}

#julie-text-blue {
    width: 366px;
    height: 191px;
    background-color: #4ecdc4;
    margin-top: 71px;
    margin-bottom: 90px;
    text-align: left;
    border-radius: 20px;
}

#julie-text-blue p {
    width: 314px;
    font-family: 'Lato';
    font-size: 15px;
    color: white;
    margin: 0 0;
    padding: 29px 26px 29px 26px;
    line-height: inherit;
}

#emmanuelle {
    float: left;
    width: 47.5%;
    padding-top: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#emmanuelle img {
    width: 278px;
    height: 278px;
    border: solid 10px #4ecdc4;
    border-radius: 50%;
}

#emmanuelle p {
    font-family: 'Lobster';
    font-size: 40px;
    width: 38%;
    margin: 33px 166px 0 154px;
    line-height: 25px;
}

#emmanuelle span {
    font-size: 30px;
}

#emmanuelle-quote-text {
    margin-top: 35px;
    display: inline-block
}

#emmanuelle-quote-text img {
    width: 30px;
    height: 21px;
    border-radius: 0;
    border: 0px;
    display: inline-block;
    transform: rotateX(180deg);
}

#emmanuelle-quote-text img:first-child {
    margin-bottom: 110px;
}

#emmanuelle-quote-text p {
    text-align: left;
    font-size: 15px;
    font-family: 'Lato';
    width: 291px;
    display: inline-block;
    margin: 0 0;
    line-height: inherit;
}

#emmanuelle-text-blue {
    width: 366px;
    height: 191px;
    background-color: #4ecdc4;
    margin-top: 71px;
    margin-bottom: 90px;
    text-align: left;
    border-radius: 20px;
}

#emmanuelle-text-blue p {
    width: 314px;
    font-family: 'Lato';
    font-size: 15px;
    color: white;
    margin: 0 0;
    padding: 29px 26px 29px 26px;
    line-height: inherit;
}

#julie-quote-text img+p,
#emmanuelle-quote-text img+p,
#julie-text-blue p,
#emmanuelle-text-blue p {
    font-family: Futura-Med;
}

#red-text {
    width: 500px;
    height: 110px;
    font-family: Futura-Med;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    background-color: #f64747;
    text-align: left;
}

#red-text p {
    width: 70%;
    font-family: Futura-Med;
    font-size: 17px;
    margin: 0 auto;
    height: 70px;
    margin-top: 20px;
}


/** human and services spirit **/

#services {
    background: white;
    text-align: center;
    margin-bottom: 80px;
}

#services h2 {
    font-family: 'Lobster';
    font-size: 30px;
    color: white;
    background: #F9DA60;
    height: 70px;
    line-height: 65px;
}

#services-bloc {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Futura-med';
    font-size: 15px;
    color: #7C7C7B;
}

#services-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-left: 26px;
}

#services-text p {
    width: 368px;
    word-spacing: 6px;
    line-height: 20px;
}

#services-text p:nth-child(2) {
    margin-bottom: 18px;
}


/** in few figures **/

#some-figures {
    background: white;
    text-align: center;
    margin-bottom: 80px;
    color: #7C7C7B;
}

#some-figures h2 {
    font-family: 'Lobster';
    font-size: 30px;
    color: white;
    background: #E6548C;
    height: 70px;
    line-height: 65px;
}

#seniors-figures {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    font-family: 'Futura-Med';
    font-size: 15px;
}

#seniors-figures p {
    width: 630px;
    word-spacing: 6px;
    line-height: 20px;
    text-align: left;
    padding-left: 23px;
}

#seniors-heart {
    display: flex;
    align-items: center;
    justify-content: center;
}

#seniors-heart p {
    width: 630px;
    word-spacing: 6px;
    line-height: 20px;
    text-align: left;
    padding-right: 23px;
    font-family: 'Futura-Med';
}


/** Silver Act's philosophy **/

#philosophy {
    background: white;
    text-align: center;
    font-family: 'Futura-Med';
    margin-bottom: 30px;
}

#philosophy h2 {
    font-family: 'Lobster';
    font-size: 30px;
    color: white;
    background: #4ECDC4;
    height: 70px;
    line-height: 65px;
}

#philosophy h2+div {
    width: 780px;
}

#paraph {
    font-family: 'Futura-Med';
    font-size: 20px;
    color: #7C7C7B;
    padding-top: 72px;
    text-align: left;
}

#percentage {
    font-size: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 80px;
}

#percentage div {
    display: flex;
    padding-bottom: 10px;
}

#percentage p {
    justify-content: center;
    padding-left: 22px;
    color: #7C7C7B;
    line-height: 100px;
}

#solo-silver {
    padding-bottom: 20px;
}

#activities-button-link {
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-family: 'Futura-Med';
    font-size: 20px;
    color: white;
    background-color: #4ecdc4;
    border: white solid 1px;
    border-radius: 15px;
    transition: all ease 1s;
    margin: 0 auto;
}

#activities-button-link:hover,
#activities-button-link:focus,
#activities-button-link:active {
    background: white;
    color: #4ECDC4;
    border: 1px solid #4ECDC4;
}

#second-silver {
    margin-top: 20px;
}

#julie>img:first-child,
#emmanuelle>img:first-child {
    transition: all ease 1s;
}

@media screen and (max-width: 1023px) {
    #creator {
        width: 100%;
    }
    #julie,
    #emmanuelle {
        float: none;
        width: 100%;
        border-right: none;
        display: block;
    }
    #founder-pic-julie,
    #founder-pic-julie+p,
    #julie-text-blue,
    #founder-pic-emmanuelle,
    #founder-pic-emmanuelle+p,
    #emmanuelle-text-blue {
        display: block;
        margin: 20px auto 0;
    }
    #julie-text-blue,
    #emmanuelle-text-blue {
        width: 100%;
        border-radius: 0;
        height: 100px;
        padding-top: 20px;
    }
    #julie-text-blue>p,
    #emmanuelle-text-blue>p {
        width: 80%;
        height: 80px;
        padding: 0;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    #red-text {
        width: 100%;
        border-radius: 0;
        margin-top: 40px;
    }
    #red-text p {
        width: 80%;
        text-align: center;
    }
    #philosophy h2+div {
        width: 90%;
    }
    #seniors-figures,
    #seniors-heart {
        width: 90%;
        margin: 40px auto 0;
    }
}

@media screen and (max-width: 767px) {
    #julie-text-blue,
    #emmanuelle-text-blue {
        height: auto;
        padding: 20px;
    }
    #julie-text-blue>p,
    #emmanuelle-text-blue>p {
        width: 80%;
        height: auto;
        padding: 0;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    #red-text {
        width: 100%;
        border-radius: 0;
        margin-top: 40px;
    }
    #red-text p {
        width: 80%;
        text-align: center;
    }
    #services-bloc {
        display: block;
    }
    #services-bloc>img {
        margin-bottom: 20px;
    }
    #percentage div {
        display: block;
        float: none;
        height: 140px;
    }
    #percentage p {
        display: block;
        padding: 0;
        line-height: 40px;
        height: 40px;
    }
    #paraph {
        text-align: center;
    }
}